<!----------------------------- Stock name ----------------------------------------->
<div class="lo-column lo-gap5" style="width: 200px">
  <div class="lo-row lo-justify-start lo-align-center">
  <button mat-button (click)="patchStock()" color="primary" style="padding: 0; line-height: inherit;">
    <app-patchable-attr-viewer [disabled]=true
      *ngIf="stock.stockName.current" [attr]="stock.stockName" label="Stock name">
    </app-patchable-attr-viewer>
  </button>
  </div>
  <app-patchable-attr-viewer [disabled]=true
    *ngIf="stock.dob.current" [attr]="stock.dob" label="Fertilization date">
  </app-patchable-attr-viewer>
  <app-patchable-attr-viewer [disabled]=true
    *ngIf="stock.mom.current && !mini" [attr]="stock.mom" label="Mom">
  </app-patchable-attr-viewer>
  <app-patchable-attr-viewer [disabled]=true
    *ngIf="stock.dad.current && !mini" [attr]="stock.dad" label="Dad">
  </app-patchable-attr-viewer>
  <app-patchable-attr-viewer [disabled]=true
    *ngIf="stock.genetics.current" [attr]="stock.description" label="Genetics">
  </app-patchable-attr-viewer>
  <app-patchable-attr-viewer [disabled]=true
    *ngIf="stock.genetics.current" [attr]="stock.genetics" label="Genetics">
  </app-patchable-attr-viewer>
  <app-patchable-attr-viewer [disabled]=true
    *ngIf="stock.comment.current" [attr]="stock.comment" label="Comment">
  </app-patchable-attr-viewer>
</div>
