<!----------------------------- Stock name ----------------------------------------->
<div fxLayout="column" fxLayoutGap="5px" style="width: 200px">
  <button mat-button (click)="patchStock()" color="primary" style="padding: 0; line-height: inherit;">
    <app-stock-attr-viewer
      *ngIf="stock.stockName.current" [attr]="stock.stockName" label="Stock name">
    </app-stock-attr-viewer>
  </button>
  <app-stock-attr-viewer
    *ngIf="stock.dob.current" [attr]="stock.dob" label="Fertilizationdate">
  </app-stock-attr-viewer>
  <app-stock-attr-viewer
    *ngIf="stock.internalMom.current && !mini" [attr]="stock.internalMom" label="Internal mom">
  </app-stock-attr-viewer>
  <app-stock-attr-viewer
    *ngIf="stock.externalMom.current && !mini" [attr]="stock.externalMom" label="External mom">
  </app-stock-attr-viewer>
  <app-stock-attr-viewer
    *ngIf="stock.internalDad.current && !mini" [attr]="stock.internalDad" label="Internal dad">
  </app-stock-attr-viewer>
  <app-stock-attr-viewer
    *ngIf="stock.externalDad.current && !mini" [attr]="stock.externalDad" label="External dad">
  </app-stock-attr-viewer>
  <app-stock-attr-viewer
    *ngIf="stock.genetics.current" [attr]="stock.genetics" label="Genetics">
  </app-stock-attr-viewer>
  <app-stock-attr-viewer
    *ngIf="stock.comment.current" [attr]="stock.comment" label="Comment">
  </app-stock-attr-viewer>
</div>
