<div fxLayout="column" class="zf-full-height">
  <!-- filter area -->
  <div fxLayout="row">
    <button mat-icon-button (click)="getFilteredStocks()" color="primary">
      <mat-icon>refresh</mat-icon>
    </button>
    <mat-form-field>
      <mat-label>Problem Focus:</mat-label>
      <mat-select [(value)]="problemFocus" (selectionChange)="focusOnProblemArea()">
        <mat-option value="allStocks">All stocks</mat-option>
        <mat-option value="allProblems">All problematic stocks</mat-option>
        <mat-option value="stockName">Stock Number problems</mat-option>
        <mat-option value="dob">Fertilization Date problems</mat-option>
        <mat-option value="parent">Parent problems</mat-option>
        <mat-option value="duplicates">Duplicate Stock Numbers</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>
  <!-- filtered stocks -->
  <mat-selection-list #problems class="zf-full-height-scroll"
                      dense [multiple]="false"
                      (selectionChange)="stockSelected(problems.selectedOptions.selected[0]?.value)">

    <!-- List the stocks that have problems that meet the focus criteria -->
    <ng-container *ngFor="let s of problemStocks">
      <mat-list-option
        [value]='s'
        [selected]="stockService.selected === s"
        class="zf-selection-item"
        [class.selected]="stockService.selected === s">
        <div fxLayout="row">
          <div fxFlex="15px">
            <mat-icon *ngIf="!s.isValid()" class="zf-field-boo-boo">close</mat-icon>
          </div>
          <div>
            row: {{s.row}}, stock: {{(s.stockName).current}}
          </div>
        </div>
      </mat-list-option>
    </ng-container>
  </mat-selection-list>
</div>
