  <mat-selection-list #items dense [multiple]="false" class="zf-full-height-scroll"
                      (selectionChange)="select(items.selectedOptions.selected[0]?.value)">
    <ng-container *ngFor="let stock of service.filteredList | async">
      <mat-list-option
        [value]='stock'
        [selected]="service.selected === stock"
        class="zf-selection-item"
        [class.selected]="service.selected === stock">
        <span>{{stock.stockName.current}}: {{stock.comment.current}}</span>
        <span>{{stock.genetics.current}}</span>
      </mat-list-option>
    </ng-container>
  </mat-selection-list>

