<div class="lo-column zf-full-height">
  <h3>Stock List</h3>
  <mat-divider></mat-divider>
  <app-reg-exp-input
    [regExpString]="service.regExpFilterString"
    (onRegExpStringChange)="service.regExpFilterString = $event">
  </app-reg-exp-input>
  <mat-list class="zf-full-height-scroll" dense>
    <mat-list-item
      *ngFor="let stock of service.filteredList | async"
      class="zf-selection-item"
      [class.selected]="service.selected === stock"
      (click)="select(stock)">
      <div class="lo-row">
        <div class="lo-15px">
          <mat-icon *ngIf="!stock.isValid()" class="zf-field-boo-boo">close</mat-icon>
        </div>
        <div class="lo-column">
          <div matLine class="zf-list-item-title">{{stock.stockName.current}}: {{stock.comment.current}}</div>
          <p  matLine>{{stock.genetics.current}}</p>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
