<div class="lo-column lo-gap20 zf-full-height">
  <button mat-button (click)="create()" color="primary">
    <mat-icon>add</mat-icon>
    Add a Transgene
  </button>
  <app-tg-editor *ngIf="newItem" mode="add" [tg]="newItem" (onTgCreated)="saveNewItem()"></app-tg-editor>
  <app-tg-editor *ngIf="!newItem && service.selected" mode="edit" [tg]="service.selected"></app-tg-editor>
  <mat-divider></mat-divider>
  <app-reg-exp-input
    [regExpString]="service.regExpFilterString"
    (onRegExpStringChange)="service.regExpFilterString = $event">
  </app-reg-exp-input>
  <mat-selection-list #items dense [multiple]="false" class="zf-full-height-scroll"
                      (selectionChange)="select(items.selectedOptions.selected[0]?.value)">
    <ng-container *ngFor="let tg of service.filteredList | async">
      <mat-list-option
        [value]='tg'
        [selected]="service.selected === tg"
        class="zf-selection-item"
        [class.selected]="service.selected === tg">
        <div class="lo-row lo-gap5 lo-align-center">
          <div class="lo-20px">
            <mat-icon (click)="delete(tg)" color="primary">delete</mat-icon>
          </div>
          <div class="lo-15px">
            <mat-icon *ngIf="!tg.valid" class="zf-field-boo-boo">close</mat-icon>
          </div>
          <div>{{tg.descriptor.current}}^{{tg.allele.current}}</div>
          <button mat-icon-button (click)="openMatchDetailsDialog(tg)" color="primary">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </div>
      </mat-list-option>
    </ng-container>
  </mat-selection-list>
</div>
