<div class="lo-column lo-gap20 zf-full-height">
  <button mat-button (click)="create()" color="primary">
    <mat-icon>add</mat-icon>
    Add a user
  </button>
  <app-user-editor *ngIf="newItem" mode="add" [user]="newItem" (onUserCreated)="saveNewItem()"></app-user-editor>
  <app-user-editor *ngIf="!newItem && service.selected" mode="edit" [user]="service.selected"></app-user-editor>
  <mat-divider></mat-divider>
  <app-reg-exp-input
    [regExpString]="service.regExpFilterString"
    (onRegExpStringChange)="service.regExpFilterString = $event">
  </app-reg-exp-input>
  <mat-selection-list #users dense [multiple]="false" class="zf-full-height-scroll"
                      (selectionChange)="select(users.selectedOptions.selected[0]?.value)">
    <ng-container *ngFor="let user of filteredUsers">
      <mat-list-option
        [value]='user'
        [selected]="service.selected === user"
        class="zf-selection-item"
        [class.selected]="service.selected === user">
        <div class="lo-row lo-gap5 lo-align-center">
          <div class="lo-20px">
            <mat-icon (click)="delete(user)" color="primary">delete</mat-icon>
          </div>
          <div class="lo-15px">
            <mat-icon *ngIf="!user.valid" class="zf-field-boo-boo">close</mat-icon>
          </div>
          <div>{{user.name.current}}</div>
        </div>
      </mat-list-option>
    </ng-container>
  </mat-selection-list>
</div>
