<div fxLayout="column" fxLayoutGap="10px" class="zf-full-height">
  <button mat-button (click)="create()" color="primary">
    <mat-icon>add</mat-icon>
    Add pattern mapper
  </button>

  <!-- All the patterns that map from strings to specific users -->
  <div fxLayout="column" fxLayoutGap="10px" class="zf-full-height-scroll">
    <ng-container *ngFor="let pm of patternMappers; let i = index;">
      <div fxLayout="row" fxLayoutGap="10px">
        <button mat-icon-button [disabled]="disableUp(i)" (click)="move(pm, 'top')" color="primary">
          <mat-icon>keyboard_double_arrow_up</mat-icon>
        </button>
        <button mat-icon-button [disabled]="disableUp(i)" (click)="move(pm, 'up')" color="primary">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <mat-icon (click)="delete(pm)" color="primary">delete</mat-icon>
        <app-pattern-mapper
          [patternMapper]="pm"
          (onRegExpChange)="onChange(pm)">
        </app-pattern-mapper>
        <button mat-icon-button [disabled]="disableDown(i)" (click)="move(pm, 'down')" color="primary">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <button mat-icon-button [disabled]="disableDown(i)" (click)="move(pm, 'bottom')" color="primary">
          <mat-icon>keyboard_double_arrow_down</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
</div>
