<div fxLayout="row" fxLayoutAlign="center" class="tool-container">
  <mat-sidenav-container style="width: 100%">

    <mat-sidenav #selector fixedInViewport="false" mode="side" opened>
      <app-user-selector></app-user-selector>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-string-set [strings]="stockService.getStrings('researcher')"></app-string-set>
      <ng-container *ngFor="let pm of patternMappers">
        <app-pattern-mapper [patternMapper]="pm" [targetType]="targetType" [mappingTargetsSource]="userService.uniqueNames"></app-pattern-mapper>
      </ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
