<div fxLayout="row" fxLayoutAlign="center" class="tool-container">
  <mat-sidenav-container style="width: 100%">

    <mat-sidenav #selector fixedInViewport="false" mode="side" opened>
      <app-user-selector></app-user-selector>
    </mat-sidenav>

    <mat-sidenav-content>
      <div fxLayout="row" fxLayoutGap="10px">
        <!-- All the strings (and tokens) in the researcher field of the raw stocks -->
        <div fxLayout="column" fxLayoutGap="10px">
          <h3>Original</h3>
          <app-string-set [uniqueStringsAndTokens]="rawStrings"></app-string-set>
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
          <h3>Residual</h3>
          <app-string-set [uniqueStringsAndTokens]="residualStrings" [showCount]="false"></app-string-set>
        </div>
        <app-pattern-mapper-group [service]="userService"></app-pattern-mapper-group>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
