<div *ngIf="user" class="lo-column lo-gap5" style="width: 200px">
  <app-patchable-attr-viewer
    (onChange)="onChange($event)"
    [validators]="requiredValidator"
    [attr]="user.name" label="Name">
  </app-patchable-attr-viewer>
  <app-patchable-attr-viewer
    (onChange)="onChange($event)"
    [validators]="usernameValidators"
    [attr]="user.username" label="Logon Name">
  </app-patchable-attr-viewer>
  <app-patchable-attr-viewer
    (onChange)="onChange($event)"
    [validators]="initialsValidators"
    [attr]="user.initials" label="Initials">
  </app-patchable-attr-viewer>
  <app-patchable-attr-viewer
    (onChange)="onChange($event)"
    [validators]="emailValidators"
    [attr]="user.email" label="Email">
  </app-patchable-attr-viewer>
  <app-patchable-attr-viewer
    (onChange)="onChange($event)"
    [validators]="userRoleValidators"
    [attr]="user.role" label="Role">
  </app-patchable-attr-viewer>
  <app-patchable-attr-viewer
    (onChange)="onChange($event)"
    [validators]="yesNoValidators"
    [attr]="user.isPrimaryInvestigator" label="Is Primary Investigator?">
  </app-patchable-attr-viewer>
  <app-patchable-attr-viewer
    (onChange)="onChange($event)"
    [validators]="yesNoValidators" [attr]="user.isResearcher" label="Is Researcher?">
  </app-patchable-attr-viewer>
  <app-patchable-attr-viewer
    (onChange)="onChange($event)"
    [validators]="yesNoValidators"
    [attr]="user.isActive" label="Is Active?">
  </app-patchable-attr-viewer>
  <div class="lo-row lo-align-end">
    <button *ngIf="mode === 'add'" [disabled]="!user.valid" mat-button (click)="onSave()" color="primary">
      Save
    </button>
  </div>
</div>
