<div fxLayout="row">
  <!-- list of problems -->
  <div fxLayout="column">
    <!-- filter area -->
    <mat-form-field>
      <mat-label>Problem Focus:</mat-label>
      <mat-select [(value)]="stockProblemFocus" (selectionChange)="focusOnProblemType()">
        <mat-option [value]=null>All problematic stocks</mat-option>
        <mat-option *ngFor="let spf of stockProblemFields" value="{{spf}}">{{spf}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- filtered problems -->
    <mat-selection-list #problems
                        dense [multiple]="false"
                        (selectionChange)="stockSelected(problems.selectedOptions.selected[0]?.value)">
      <ng-container *ngFor="let s of service.stocks">
          <mat-list-option *ngIf="stockProblemFocus === null || s.problems[stockProblemFocus]"
                           [value]='s'
                           [selected]="selectedStock === s"
                           class="zf-selection-item"
                           [class.selected]="selectedStock === s">
            row: {{s.row}}, stock: {{s.stockName}}
          </mat-list-option>
      </ng-container>
    </mat-selection-list>

    <mat-divider></mat-divider>
  </div>

  <!-- "Patching" area -->
  <div fxLayout="column">
    <h2>Patching Area</h2>
    <mat-card>
      <mat-card-header>Raw Stock Data</mat-card-header>
      <app-stock-viewer *ngIf="selectedStock" [stock]="selectedStock"></app-stock-viewer>
    </mat-card>
  </div>
  <div>
    <app-stock-browser></app-stock-browser>
  </div>
</div>
