<mat-card>
  <mat-card-header>Stock Browser</mat-card-header>
  <div fxLayout="row" fxLayoutGap="10px">
    <button mat-mini-fab color="primary" (click)="backOne()">
      <mat-icon>arrow_left</mat-icon>
    </button>
  <mat-form-field>
    <input [formControl]="stockFC" placeholder="Enter a stock number..." matInput type="text">
  </mat-form-field>
    <button mat-mini-fab color="primary" (click)="forwardOne()">
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
  <app-stock-viewer [stock]="stock"></app-stock-viewer>
</mat-card>
