@use '@angular/material' as mat;
@use '@angular/material/theming';

@include mat.core();

@import "zf-theme.scss";

@include mat.all-component-themes($zf-app-theme);

 //push everything after this in flexLayout to the end of the layout
 //So, use this in a toolbar to push the login button to the right.
.fill-remaining-space {
  flex: 1 1 auto;
}

.zf-selection-item {

  &:hover, &:active, &:focus {
    background-color: mat.get-color-from-palette(map-get($zf-app-theme, background), hover);
  }

  &.selected {
    background-color: mat.get-color-from-palette(map-get($zf-app-theme, primary), lighter, 0.5);
  }
}

.zf-field-header {
  font-weight: 500 !important;
}
.zf-field-boo-boo {
  font-size: 75%;
  color: red;
}
.zf-patched {
  color:lightgreen;
  font-size: 75%;
}

.zf-note {
  font-size: 75%;
}

.zf-tool {
  position: absolute;
  top: 56px;
  bottom: 0;
  right: 10px;
  left: 10px;
}
.zf-tool-content {
  background-color: azure;
  padding: 25px;
}
