@use '@angular/material' as mat;
@use '@angular/material/theming';

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

@import "zf-theme.scss";

@include mat.all-legacy-component-themes($zf-app-theme);

.tool-container {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}

.lo-row {
  display: flex;
  flex-direction: row;
}

.lo-column {
  display: flex;
  flex-direction: column;
}

.lo-full {
  flex: 1;
}

.lo-justify-start {
  justify-content: start;
}

.lo-justify-center {
  justify-content: center;
}

.lo-justify-end {
  justify-content: end;
}

.lo-justify-space-between {
  justify-content: space-between;
}

.lo-align-center {
  align-items: center;
}

.lo-align-end {
  align-items: end;
}

.lo-gap5 {
  gap: 5px;
}

.lo-gap10 {
  gap: 10px;
}

.lo-gap20 {
  gap: 20px;
}

.lo-gap64 {
  gap: 64px;
}

.lo-10px {
  flex-basis: 10px;
}

.lo-80px {
  flex-basis: 80px;
}

.lo-100px {
  flex-basis: 100px;
}

.lo-2 {
  flex-basis: 2%;
}

.lo-4 {
  flex-basis: 4%;
}

.lo-14 {
  flex-basis: 14%;
}

.lo-20 {
  flex-basis: 20%;
}

.lo-30 {
  flex-basis: 30%;
}

.lo-15px {
  flex-basis: 15px;
}
.lo-20px {
  flex-basis: 20px;
}
.lo-30px {
  flex-basis: 30px;
}
.lo-200px {
  flex-basis: 200px;
}
.lo-250px {
  flex-basis: 250px;
}

 //push everything after this in flexLayout to the end of the layout
 //So, use this in a toolbar to push the login button to the right.
.fill-remaining-space {
  flex: 1 1 auto;
}

.zf-selection-item {

  &:hover, &:active, &:focus {
    background-color: mat.get-color-from-palette(map-get($zf-app-theme, background), hover);
  }

  &.selected {
    background-color: mat.get-color-from-palette(map-get($zf-app-theme, primary), lighter, 0.5);
  }
}

.zf-field-header {
  font-weight: 500 !important;
}
.zf-field-boo-boo {
  font-size: 75%;
  color: red;
}
.zf-patched {
  color:rebeccapurple;
  font-size: 75%;
}

.zf-note {
  font-size: 75%;
}

.zf-tool {
  position: absolute;
  top: 56px;
  bottom: 0;
  right: 10px;
  left: 10px;
}
.zf-tool-content {
  padding: 25px;
}

.zf-full-width {
  width: 100%;
}
.zf-full-height {
  height: 100%;
}
.zf-full-height-scroll {
  height: 100%;
  overflow-y: scroll;
}
.zf-list-item-title {
  font-weight: 500 !important;
}

