<div *ngIf="attr" class="lo-column lo-justify-start">
  <div class="lo-row">
    <div class="lo-15px">
      <mat-icon *ngIf="!attr.isValid()" class="zf-field-boo-boo">close</mat-icon>
      <mat-icon *ngIf="attr.isPatched()" class="zf-patched">check</mat-icon>
    </div>
    <mat-form-field floatLabel="always">
      <mat-label>{{label}}</mat-label>
      <input matInput type="text" [formControl]="fc">
      <mat-hint *ngIf="hintMessage">{{hintMessage}}</mat-hint>
      <mat-error *ngIf="fc.invalid">{{getValidationErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
</div>
