<div class="lo-row lo-gap20 lo-align-center tool-container">
  <app-user-selector class="zf-full-height lo-250px" [primaryInvestigatorsOnly]="true"></app-user-selector>

  <!-- All the strings (and tokens) in the researcher field of the raw stocks worksheet -->
  <div class="lo-column lo-gap20 zf-full-height">
    <div class="lo-row zf-full-height-scroll">
      <app-string-set [uniqueStringsAndTokens]="stockService.piStrings | async"></app-string-set>
      <app-string-set [uniqueStringsAndTokens]="stockService.residualPiStrings | async"></app-string-set>
    </div>
  </div>
  <app-pattern-mapper-group class="zf-full-height" [service]="piService"></app-pattern-mapper-group>
</div>
