<div class="lo-row">
  <form>
    <div class="lo-row lo-gap10">
      <app-reg-exp-input [regExpString]="patternMapper.regExpString" (onRegExpStringChange)="onRegExpStringChange($event)"></app-reg-exp-input>
      <mat-form-field floatLabel="always">
        <mat-label>comment</mat-label>
        <input [formControl]="commentFC" type="text" matInput (change)="onChangeComment()">
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>Maps to</mat-label>
        <input matInput type="text" [formControl]="target0FC" [matAutocomplete]="targets0">
        <mat-hint>{{targetHint0}}</mat-hint>
        <mat-error *ngIf="target1FC.errors?.['unknownTarget']">{{target0FC.errors?.['unknownTarget']}}</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="targetCount > 1" floatLabel="always">
        <mat-label>Maps to</mat-label>
        <input matInput type="text" [formControl]="target1FC" [matAutocomplete]="targets1">
        <mat-hint>{{targetHint1}}</mat-hint>
        <mat-error *ngIf="target1FC.errors?.['unknownTarget']">{{target1FC.errors?.['unknownTarget']}}</mat-error>
      </mat-form-field>
      <button [disabled]="patternMapper.matchCount < 1" mat-button (click)="openMatchDetailsDialog()" color="primary">
        matches: {{patternMapper.matchCount}}
      </button>
    </div>
  </form>
</div>
<mat-autocomplete #targets0="matAutocomplete">
  <mat-option *ngFor="let option of filteredMappingTargets0 | async" [value]="option.id">
    {{option.id}}^{{option.informalName}}
  </mat-option>
</mat-autocomplete>
<mat-autocomplete #targets1="matAutocomplete">
  <mat-option *ngFor="let option of filteredMappingTargets1 | async" [value]="option.id">
    {{option.id}}^{{option.informalName}}
  </mat-option>
</mat-autocomplete>
