<div fxLayout="row" fxLayoutGap="10ps">
  <form>
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field floatLabel="always">
        <mat-label>RegExp</mat-label>
        <input [formControl]="regExpStringFC" type="text" matInput (change)="onChangeRegExp()">
        <mat-error *ngIf="regExpStringFC.invalid">Invalid RegExp</mat-error>
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>comment</mat-label>
        <input [formControl]="commentFC" type="text" matInput (change)="onChangeComment()">
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>{{targetType}}</mat-label>
        <input matInput type="text" [formControl]="targetFC" [matAutocomplete]="transgenes">
      </mat-form-field>
      <button [disabled]="patternMapper.matchCount < 1" mat-button (click)="openMatchDetailsDialog()" color="primary">
        matches: {{patternMapper.matchCount}}
      </button>
    </div>
  </form>
</div>
<mat-autocomplete #transgenes="matAutocomplete">
  <mat-option *ngFor="let option of filteredMappingTargets | async" [value]="option">
    {{option}}
  </mat-option>
</mat-autocomplete>
