<!--Main Toolbar-->
<div class="app-top-bar lo-row lo-align-center">
  <div class="zf-full-width">

    <mat-toolbar class="lo-gap20">
      <span>Zebrafish Stock Migrator</span>
      <span class="mat-body"> (migrating: {{appState.getState('filename')}})</span>
      <app-reg-exp-input
        [regExpString]="stockService.regExpFilterString"
        (onRegExpStringChange)="stockService.regExpFilterString = $event"
        style="font-size: 10pt"
        fieldLabel="App wide regExp filter">
      </app-reg-exp-input>
      <span class="fill-remaining-space"></span>
      <button mat-button [disabled]="appState.activeTool === zfTool.RESEARCHER_MIGRATOR"
              [routerLink]="zfTool.RESEARCHER_MIGRATOR.route" color="primary">
        {{zfTool.RESEARCHER_MIGRATOR.display_name}}
      </button>
      <button mat-button [disabled]="appState.activeTool === zfTool.PI_MIGRATOR"
              [routerLink]="zfTool.PI_MIGRATOR.route" color="primary">
        {{zfTool.PI_MIGRATOR.display_name}}
      </button>
      <button mat-button [disabled]="appState.activeTool === zfTool.STOCK_MIGRATOR"
              [routerLink]="zfTool.STOCK_MIGRATOR.route" color="primary">
        {{zfTool.STOCK_MIGRATOR.display_name}}
      </button>
      <button mat-button [disabled]="appState.activeTool === zfTool.TRANSGENE_MIGRATOR"
              [routerLink]="zfTool.TRANSGENE_MIGRATOR.route" color="primary">
        {{zfTool.TRANSGENE_MIGRATOR.display_name}}
      </button>
      <button mat-button [disabled]="appState.activeTool === zfTool.MUTATION_MIGRATOR"
              [routerLink]="zfTool.MUTATION_MIGRATOR.route" color="primary">
        {{zfTool.MUTATION_MIGRATOR.display_name}}
      </button>
      <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
      <button mat-button (click)="fileUpload.click()">
        Import File
      </button>
      <button mat-button (click)="exportToExcel()">
        Export Changes
      </button>
    </mat-toolbar>
  </div>
</div>
